<!DOCTYPE html>
<html>
    <head>
        <title>Here's the Title</title>
        <style>

            html{
                font-family: sans-serif;
                color:#333;
            }

            #content{
                background-color:lightblue;
                margin: 0 auto;
                max-width:40rem;
            }
        </style>
    </head>
    <body>
        <div id="content">
        {{ content }}
        </div>
    </body>
</html>